:root {
  /* -- Fonts --*/
  --font-family: 'Open Sans';       //  var(--font-family);
  --font-family2: 'Varela Round';   //  var(--font-family2);


  // text color

  --color-a: #fff;      //  var(--color-a);
  --color-b: #191400;   //  var(--color-b);
  --color-c: #A5C926;   //  var(--color-c);
  --color-d: #FFC12C;   //  var(--color-d);
  --color-e: #FB416B;   //  var(--color-e);
  // --color-f: #FDCB1E;


  // bg

  // --header-bg: #171a2a;
  // --about-bg: #1a1f2c;
  // --about-bg-alt: #10131c;
  // --team-bg: #151924;

  // --about-round-color: #472880;

  // --other-game-bg: #0c121c;

  // Element color

  // --circle-a: #653278;
}
